@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

/* Workspaces */
#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin: 5px 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
}

/* General Modules */
#custom-launcher,
#tray,
#bluetooth,
#cpu,
#memory,
#disk,
#clock,
#battery,
#pulseaudio,
#custom-power,
#network {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px;
  border-radius: 1rem;
}

/* Clock */
#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
}

/* Battery */
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

/* CPU & Memory */
#cpu {
  color: @peach;
}

#memory {
  color: @mauve;
}

/* Disk */
#disk {
  color: @yellow;
}

/* PulseAudio */
#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

/* Bluetooth */
#bluetooth {
  color: @blue;
}

/* Network */
#network {
  color: @teal;
}

/* Privacy Indicators */
#privacy {
  color: @pink;
}

/* Power Button */
#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

/* System Tray */
#tray {
  margin-right: 1rem;
}
